<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584722982282-ba56r13farqs0i7e8odpa1l7brnrgt50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584722982282-ba56r13farqs0i7e8odpa1l7brnrgt50</string>
	<key>API_KEY</key>
	<string>AIzaSyCbTjxS0ioVZZ7A-Pclq5n2wELqR4I4Rvs</string>
	<key>GCM_SENDER_ID</key>
	<string>584722982282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.datafox.ChatDemo</string>
	<key>PROJECT_ID</key>
	<string>chat-app-demo-22a23</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-demo-22a23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584722982282:ios:50c8b9f2ab4cb36dc5d473</string>
</dict>
</plist>